.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

li:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.user-list {
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
